extends layout.pug

block content

  article.portfolio-intro

    h1 My TechDegree Portfolio

    p In this project, I created a portfolio site to showcase the projects I've built thus far in my JavaScript TechDegree. The site will contain a modern landing page, an about page, and a series of project pages to show off and detail all the projects I've completed thus far from this Techdegree.

  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
              h5= `${project.project_name}`
   

